config BATTERY_BQ27530
	tristate "BQ27530 battery driver"
	depends on I2C
	help
	Say Y here to enable support for batteries with BQ27x00 (I2C/HDQ) chips.

config CHARGER_BQ24192
	tristate "BQ24192 charger driver"
	depends on I2C
	help
	Say Y here to enable support for batteries with BQ27x00 (I2C/HDQ) chips.

config CHARGER_BQ2589X
	tristate "BQ2589x charger driver"
	depends on I2C
	help
	Say Y here to enable support for batteries with BQ27x00 (I2C/HDQ) chips.

config LENOVO_FAST_CHARGER
	tristate "lenovo fast charger driver"
	help
	Say Y here to enable support for lenovo fast charger.

